@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "assets/animation.scss";

:root {
  --c-dark1: #33333F;
  --c-dark2: #1A2938;
  --c-blue-main: #56CCF2;
  --c-light: #BDBDBD;
}

.btn-primary {
  border-radius: 4px;
  border-width: 2px;
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--c-blue-main);
  --bs-btn-border-color: var(--c-blue-main);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--c-dark2);
  --bs-btn-hover-border-color: var(--c-blue-main);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
.btn-outline-primary {
  border-radius: 4px;
  border-width: 2px;
  font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-border-color: var(--c-blue-main);
  --bs-btn-hover-color: var(--c-dark1);
  --bs-btn-hover-bg: var(--c-blue-main);
  --bs-btn-hover-border-color: var(--c-blue-main);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--c-blue-main);
  --bs-btn-active-border-color: var(--c-blue-main);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: grey;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: grey;
  --bs-gradient: none;
}
.btn-outline-primary:hover {
  box-shadow: 0 0px 20px 0 rgba(86, 204, 242, 0.6);
}


body {
  background-color: var(--c-dark2);
  background: var(--c-dark2) url("/gradient-bg.svg") no-repeat right top;
  color: var(--c-light);
  font-family: 'Nunito', sans-serif;
}
h1, h2, h3 ,h4, h5, h6 {
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 600;
}
h3 {
  color: var(--c-blue-main);
  text-transform: uppercase;
  font-weight: 600;
  margin:32px 0px;
}
h2 {
  color: var(--c-blue-main);
}
.wrap-box {
  border-radius: 8px;
  border: 2px solid var(--c-blue-main);
  background: var(--c-dark2);
}
*, *::before, *::after {
    box-sizing: border-box;
}
.subContent {
  margin-top: 70px;
}
#root {
  width: 100%;
}
.section-title {
  text-align: center;
  padding: 30px 0px;
}
.screen {
  width: 100%;
  border-radius: 8px;
}

/*-------------------------------- NAV ------------------------------------*/
.navbar {
  background: var(--c-dark1);
  text-transform: uppercase;
  a {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    margin: 0px 16px;
  }
  .nav-link {
    border: 2px solid var(--c-dark2);
  }
  .nav-link:hover {
      color: var(--c-blue-main);
  }
  .btn-outline-primary {
    font-weight: 600;
  }
  .brand {
    img {
      height: 30px !important;
    }
  }
  .navbar-toggler {
    color: white;
  }
  .nav-link {
    color: white;
  }
  .dropdown-menu {
    background: var(--c-dark1);
    .dropdown-item {
      color: white;
      padding: 8px 16px;
      margin: 0px;
    }
    .dropdown-item:hover {
      color: var(--c-blue-main);
      background: var(--c-dark2);
    }
  }
}



/*-------------------------------- MAIN BANNER ------------------------------------*/
.main.banner {
  text-align: center;
  padding: 32px;
  margin: 80px 0px;
  h1 {
    font-weight: 700;
    color: white;
    margin: 30px;
    font-size: 4.5em;
    span{
      color: var(--c-blue-main);
    }
  }
  p {
    font-size: 24px;
    margin: 30px;
  }
  .btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    padding-left: 56px;
    padding-right: 56px;
  }
  .svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .content {
    z-index: 10;
  }
}






/*-------------------------------- CLIENTS ------------------------------------*/
.clients {
  text-align: center;
  .logo-carousel {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
  }

  .logo-carousel-inner {
    display: flex;
    animation: scrollLeft 20s linear infinite; /* Adjust time to control scroll speed */
  }

  .logo-container {
    flex: 0 0 auto;
    width: 16.66%; /* Six logos visible at a time (100% / 6) */
    padding: 0 15px;
  }

  .logo-container img {
    max-width: 100%;
    height: auto;
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust to move by half of the total width */
    }
  }
}





/*-------------------------------- PRODUCT ------------------------------------*/
.product {
  text-align: center;
  h3 {
    margin:20px 0px;
  }
  img {
    height: 115px;
  }
  .btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    padding-left: 56px;
    padding-right: 56px;
  }
}




/*-------------------------------- TESTIMONIALS ------------------------------------*/
.testimonials {
  text-align: center;
  .wrap-box {
    margin: 30px;
  }
  .test {
    .quote {
      font-family: 'Times', serif;
      font-size: 1.5rem;
      display: inline-block;
      min-height: 210px;
    }
    .profilePic {
      display: inline-block;
      padding: 16px;
      width: 25%;
    }
    .profile {
      display: inline-block;
      text-align: left;
      padding: 16px;
      .title {
        font-size: .7em;
      }
    }
  }
}




/*-------------------------------- PROCESS ------------------------------------*/
.process {
  text-align: center;
  .wrap-box {
    margin: 30px;
  }
  .list:before {
    position: absolute;
    left: 36px;
    top: 0;
    width: 2px;
    height: 100%;
    background: var(--c-blue-main);
    content: "";
  }
  .list {
    position: relative;
    .process-icon {
      float: left;
      font-size: 24px;
      color: #fff;
      line-height: 48px;
      text-align: center;
      transition: 0.4s;
      font-weight: 600;
      width: 50px;
      height: 50px;
      background: var(--c-dark2);
      position: relative;
      border-radius: 50px;
      border: 2px solid var(--c-blue-main);
    }
    h6 {
      color: var(--c-blue-main);
      text-transform: uppercase;
    }
    .process-text {
      padding-left: 70px;
      text-align: left;
    }
    .list-item-1 {
      margin-top: 40px;
    }
    .list-item-1:before {
      position: absolute;
      content: "";
      left: 31px;
      top: 0;
      width: 12px;
      height: 12px;
      background: var(--c-blue-main);
      border-radius: 50%;
    }
    .list-item-4:before {
      position: absolute;
      content: "";
      left: 31px;
      bottom: 0;
      width: 12px;
      height: 12px;
      background: var(--c-blue-main);
      border-radius: 50%;
    }
  }
}




/*-------------------------------- NFT ------------------------------------*/
.NFT {
  text-align: center;
  .wrap-box {
    margin: 30px;
  }
  .btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    padding-left: 56px;
    padding-right: 56px;
  }
  h6 {
    color: var(--c-blue-main);
    text-transform: uppercase;
  }
  img {
    width: 100%;
  }
  .bullet-box {
    text-align: left;
    position: relative;
    margin-left: 48px;
  }
  .bullet-box:before {
    position: absolute;
    content: "";
    left: -36px;
    top: 36px;
    width: 12px;
    height: 12px;
    background: var(--c-blue-main);
    border-radius: 50%;
  }
}




/*-------------------------------- FOOTER ------------------------------------*/
.footer {
  background: var(--c-dark1);
  .legal {
    font-size: .8em;
    .terms {
      text-align: right;
      a {
        color: white;
      }
    }
  }
  .brand {

  }
  .small-print {
    margin-top: 80px;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    a {
      color: var(--c-blue-main);
    }
  }
}





/*-------------------------------- PRICING ------------------------------------*/
.price-box {
  margin: 8px 0px;
  .price-head {
      background-color: var(--c-dark1);
      border-radius: 16px 16px 0px 0px;
      margin: 0px 16px;
      padding: 24px;
      text-align: center;
      min-height: 220px;
      h3 {
        font-size: .7em;
        margin: 8px 0px;
      }
      P {
          line-height: 48px;
          span {
              font-size: 48px;
              font-weight: 700;
              color: #FFF;
          }
      }
  }
  .price-body {
      color: var(--c-dark1);
      background-color: #ebebeb;
      border-radius: 0px 0px 16px 16px;
      margin: 0px 16px;
      padding: 24px;
      min-height: 400px;
  }
}





/*-------------------------------- ABOUT ------------------------------------*/
.about {
  margin: 30px 0px;
  h2 {
    text-align: center;
  }
}
.founder {
  padding: 20px;
  img {
    width: 100%;
  }
  h5 {
    color: var(--c-blue-main);
    margin: 16px 0px;
    img {
      width: 24px;
      margin: 0px 0px 0px 16px;
    }
  }
}